<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="info.ivicel.searchinterface">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".SearchDialogActivity"
            android:launchMode="singleTop"
            android:label="Search Dialog Activity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>



            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

        </activity>
        <activity android:name=".SearchableDictionary"
            android:launchMode="singleTop"
            android:label="Searchable Dictionary">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".WordActivity">

        </activity>

        <provider
            android:enabled="true"
            android:exported="false"
            android:authorities="info.ivicel.searchinterface.DictionaryProvider"
            android:permission="info.ivicel.permission.searchabledictionary"
            android:name=".DictionaryProvider"/>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchableDictionary"/>
    </application>

</manifest>